*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 99%;
    overflow: auto;
    font-size: 1rem;
    font-family: 'Cairo', sans-serif;
    font-weight: lighter;
    background-color: #101419;
    color: #CCD0D7;
    scroll-behavior: smooth;
}
/* ---------------------------------EMPIEZA EL DESARROLLO DEL BANNER DEL DESTINO--------------------------------- */
.bannerDestino4{
    background: linear-gradient(rgba(16, 20, 25, 0.2), rgba(16, 20, 25, 0.4), rgba(16, 20, 25, 1)), url(./Imagenes/lagoTiticaca.jpg);
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 98%;
    overflow: hidden;
    z-index: -1;
}
.bannerDestino4 a{
    color: #313E64;
}
.bannerDestino4 a i{
    font-size: 1em;
    background-color: #FFC750;
    border: 0.1em solid transparent;
    border-radius: 50%;
    padding: 0.8em;
}
.bannerDestino4 a i:hover{
    background-color: transparent;
    color: #CCD0D7;
    border: 0.1em solid #FFC750;
    transition: all ease 400ms;
}