*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    width: 100%;
    height: auto;
    font-size: 1rem;
    background-color: rgb(247, 247, 247);
}

/* --------------------EMPIZA DESARROLLO DE CABECERA LOGO Y NAVEGADORES-------------------- */

.cabecera{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    
}
.cabeceraLogo{
    padding-left: 3em;
}
 .cabeceraLogo img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
 }
.cabeceraMenu .menuLista{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 3em;
}
.cabeceraMenu .menuLista a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* --------------------TERMINA DESARROLLO DE CABECERA LOGO Y NAVEGADORES-------------------- */

/* --------------------EMPIEZA SECTION 1 BANNER --------------------*/

.banner{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url("https://free4kwallpapers.com/uploads/originals/2015/10/23/laguna-churup-ancash-region-of-peruoc-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: -1;
}
.bannerTexto1{
    color: white;
    position: relative;
    top: 40%;
    display: grid;
    justify-items: center;
}
.bannerTexto1 h1{
    font-size: 5rem;
}
.bannerTexto1 p{
    font-size: 1rem;
}

/* --------------------TERMINA SECTION 1 BANNER --------------------*/

/* --------------------EMPIEZA SECTION 2 TEXTO DE PRESENTACION DE PERU --------------------*/

.textoPresentacion{
    background-color:rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 20vh;
    text-align: center;
    display: grid;
    align-items: center;
}
.textoPresentacion p{
    padding: 2em;
}

/* --------------------TERMINA SECTION 2 TEXTO DE PRESENTACION DE PERU --------------------*/

/* --------------------EMPIEZA SECTION 3 DESTINOS EN PERU --------------------*/

/* CARRUCEL DE IMAGENES QUE MUESTRA LOS DESTINOS MAS VISITADOS DE PERU.*/

.destinosPeru{
    width: 100%;
    height: 99vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.destinosCarrucel{
    width: 50%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0em 0.5em 2em #000000;
    border-radius: 1em;
}
.destinosCarrucel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destinosTexto{
    color: rgb(255, 255, 255);
    position: relative;
    top: 18%;
    right: 3%;   
    width: 40%;
}

/* FLECHAS DE LOS COSTADOS IZQUIERDA | DERECHA */

/* IZQUIERDA */

.destinosIzquierda{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    width: 5%;
    border-radius: 2em;
    height: 60%;
    position: relative;
    right: 7%;
    cursor: pointer;
}
.destinosIzquierda i{
    color: white;
    position: relative;
    top: 50%;
    left: 40%;
}

/* DERECHA */

.destinosDerecha{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    width: 5%;
    border-radius: 2em;
    height: 60%;
    position: relative;
    left: 7%;
    cursor: pointer;
}
.destinosDerecha i{
    color: white;
    position: relative;
    top: 50%;
    left: 40%;
}

/* --------------------TERMINA SECTION 3 DESTINOS EN PERU --------------------*/

/* --------------------EMPIEZA SECTION 4 TIPO DE VIAJES --------------------*/

.tiposViajes{
    background-color: lightblue;
    width: 100%;
    height: 99vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 1fr;
    grid-template-areas: "titulo titulo titulo"
                         "turismo1 turismo2 turismo3";
}

.tiposViajes h2{
    grid-area: titulo;
    padding: 15vh;
    grid-column: 2;
}
.tarjetaAventura{
    grid-area: turismo1;
}
.tarjetaCultura{
    grid-area: turismo2;
}
.tarjetaFiestasEventos{
    grid-area: turismo3;
}









